# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
0_Test.py
0_train.py
0_predict.py
0_re_train.py
data/captcha/*
data/model/*
!/data/captcha/7DCC.png
!/data/model/checkpoint
